---

---

<section>
    <h1>La mejor forma de integrar tu negocio a entornos digitales</h1>
    <a href="/contacto">Contacto</a>
</section>

<style>
    section {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
    }
    h1 {
        width: 50%;
        font-size: 1.618rem;
        color: var(--contrast);
    }
    a {
        border: solid 1px var(--contrast);
        padding: 1rem;
        /* border-radius: 12px; */
        cursor: pointer;
        z-index: 99;
    }
</style>
