---

---

<header>
   <video
         src="/video/fondo.mp4"
         class="video"
         autoplay
         loop
         muted
         playsinline
      >
      </video>
   <div class="logo-container">
      
      <svg height="18.950289mm" viewBox="0 0 62.470422 18.950288">
         <defs id="defs1"></defs>
         <g id="layer4" transform="translate(-24.838511,-13.809807)">
            <g
               transform="translate(0.01109774,-28.184517)"
               style="fill:none;fill-opacity:1;stroke:#fff;stroke-width:0.4;stroke-dasharray:none;stroke-opacity:1"
            >
               <path
                  class="line"
                  d="m 102.05441,84.908757 q -1.98189,0 -3.488123,-0.845603 -1.506231,-0.845603 -2.351834,-2.351834 -0.819178,-1.532656 -0.819178,-3.514538 0,-2.034733 0.819178,-3.540964 0.845603,-1.532656 2.351834,-2.378259 1.506233,-0.845603 3.488123,-0.845603 1.98188,0 3.48811,0.845603 1.50623,0.845603 2.32541,2.378259 0.8456,1.506231 0.8456,3.540964 0,1.981882 -0.8456,3.514538 -0.81918,1.506231 -2.32541,2.351834 -1.50623,0.845603 -3.48811,0.845603 z m 0,-2.959611 q 1.5855,0 2.56323,-1.030579 0.97773,-1.057004 0.97773,-2.748211 0,-1.691206 -0.97773,-2.721785 -0.97773,-1.057004 -2.56323,-1.057004 -1.58551,0 -2.563244,1.030579 -0.977729,1.030579 -0.977729,2.74821 0,1.691207 0.977729,2.748211 0.977734,1.030579 2.563244,1.030579 z"
                  transform="translate(-21.615698,-24.431312)"></path>
               <path
                  class="line"
                  id="text2-2-5"
                  d="m 69.790572,47.29117 c -0.546118,0 -1.083803,0.132624 -1.612305,0.396875 -0.510884,0.264251 -0.959637,0.580895 -1.347204,0.950847 -0.130728,0.124786 -0.24524,0.244449 -0.351917,0.361218 l -0.309025,-1.418001 h -2.299084 v 12.895336 h 3.065446 V 51.47231 c 0.19508,-0.247471 0.423074,-0.453264 0.687296,-0.613399 0.581352,-0.369951 1.453158,-0.555005 2.615861,-0.555005 h 0.845427 v -2.774507 c -0.123317,-0.08808 -0.307854,-0.149769 -0.554488,-0.185002 -0.229017,-0.03523 -0.475756,-0.05323 -0.740007,-0.05323 z"
               ></path>
               <path
                  class="line"
                  id="text2-4-6"
                  d="m 47.00695,47.558854 v 7.742163 c 0,0.704669 0.04421,1.3832 0.132292,2.035018 0.1057,0.651819 0.299492,1.233195 0.581359,1.74408 0.281867,0.510884 0.704922,0.915945 1.268657,1.215429 0.581352,0.299485 1.35652,0.449069 2.325439,0.449069 0.651819,0 1.285624,-0.105376 1.90221,-0.316777 0.616584,-0.229017 1.2067,-0.546178 1.770434,-0.951363 0.292285,-0.21008 0.567172,-0.437866 0.826306,-0.681095 l 0.442351,1.658813 h 2.299084 V 47.558854 h -3.065446 v 8.48527 c -0.17657,0.202183 -0.378785,0.395116 -0.607715,0.57826 -0.422801,0.352334 -0.889546,0.625287 -1.400431,0.819071 -0.493268,0.193786 -0.995483,0.290938 -1.506368,0.290938 -0.510884,0 -0.960154,-0.140846 -1.347721,-0.422713 -0.369951,-0.299485 -0.555005,-0.872122 -0.555005,-1.717724 v -8.033102 z"
               ></path>
               <a id="a1-2" style="transform: translate(-22.27302px);">
                  <path
                     class="line"
                     id="text2-28-2"
                     d="m 56.417189,42.194324 c -1.321254,0 -2.536953,0.229261 -3.646806,0.687296 -1.109853,0.458034 -2.078813,1.109834 -2.906799,1.955436 -0.810369,0.827986 -1.444175,1.814423 -1.90221,2.95951 -0.440418,1.127469 -0.660941,2.369383 -0.660941,3.725871 0,1.761671 0.378846,3.338223 1.136365,4.729943 0.757519,1.391721 1.814379,2.492789 3.170866,3.303158 1.374104,0.792752 2.977386,1.189075 4.809525,1.189075 1.23317,0 2.378446,-0.20253 3.435449,-0.607715 1.057003,-0.422801 1.981756,-1.004178 2.774508,-1.74408 0.810369,-0.757519 1.435954,-1.629325 1.876371,-2.615861 0.458035,-1.004153 0.68678,-2.087744 0.68678,-3.250447 0,-0.246634 -0.01748,-0.502111 -0.05271,-0.766362 -0.03523,-0.264251 -0.07944,-0.501734 -0.132292,-0.713135 h -8.799463 v 2.827218 h 5.843571 c -0.136676,0.481677 -0.339688,0.931201 -0.611332,1.347721 -0.510885,0.810369 -1.206892,1.45343 -2.087728,1.929082 -0.880835,0.458034 -1.867273,0.687296 -2.959509,0.687296 -1.12747,0 -2.140638,-0.27347 -3.039091,-0.819588 -0.898452,-0.546119 -1.611936,-1.294556 -2.140438,-2.245858 -0.528501,-0.951302 -0.792716,-2.034894 -0.792716,-3.250447 0,-1.268405 0.264215,-2.378211 0.792716,-3.329513 0.528502,-0.951302 1.241986,-1.691001 2.140438,-2.219503 0.898453,-0.546118 1.920359,-0.819588 3.065446,-0.819588 1.057003,0 2.017225,0.203047 2.880444,0.608232 0.880836,0.405184 1.690958,1.136144 2.43086,2.193147 l 2.906799,-0.977718 C 63.84254,45.49769 62.78568,44.334938 61.464426,43.489335 60.143172,42.626116 58.460728,42.194324 56.417189,42.194324 Z"
                  ></path>
               </a>
            </g>
         </g>
      </svg>
   </div>
</header>
<script type="module" src="/animacion/animate.js"></script>

<style>
   header {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      overflow-x: hidden;
      transition: ease 0.5s;
      animation: ease 0.5s;
   }
   .logo-container {
      height: 100dvh;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: ease 0.5s;
      animation: ease 0.5s;
      /* margin-bottom: 60px; */
   }

   .video {
      position: absolute;
      z-index: -1;
      height: 100vh;
      width: 100%;
      object-fit: cover;
      transition: ease 0.5s;
      animation: ease 0.5s;
   }
</style>
